::ng-deep .question-container{
    border: 4px solid rgb(105, 101, 101);
    margin-left: 24px;
    margin-right: 24px;
    padding: 12px;
    font-size: 19px;
    font-weight: 600;
    background-color: #fff;
}

::ng-deep .underline{
    min-width: 74px;
    border-bottom: 2px solid #000;
    display: inline-block;
}