.validator-container{
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-top: 4%;
    margin-left: 4%;
}

.btn{
    border: 2px solid white;
    height: 35px;
    width: 69px;
    background-color: #4a93d5;
    border-radius: 110px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.btn:disabled{
    background-color: #7d9dba;
    cursor: auto;
}

@media screen and (max-width: 926px){
    .validator-container{

        position: absolute;
        right: 45px;
    }
}