main{
    background-image: url('/assets/images/yellow3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px){

    .help-opened{
        display: none;
    }
}