.modal-container{
    width: 60%;
    position: relative;
    border: 3px solid blue;
    height: 510px;
    background: white;
    top: 40px;
    margin: 0 auto;
}
.head{
    height: 30px;
    background-color: #2828c3;
}
.help-text{
    display: inline-block;
    float: left;
    width: 251px;
    overflow: auto;
    height: 447px;
    margin-top: 11px;
    margin-left: 10px;
}


.help-video{

    display: inline-block;
    position: absolute;
    right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 286px;
    width: 64%;
}

.help-video video{
    width: 100%;
}

::ng-deep span b{
    color: red;
}
.close-btn{
    position: absolute;
    right: -9px;
    top: -23px;
    border-radius: 50%;
    border: none;
    height: 32px;
    width: 37px;
    background: #E91E63;
    color: white;
    cursor: pointer;
}

.close-btn:focus{
    outline-color: black;    
}

@media screen and (max-width: 1500px){

    .help-video{
        width: 60%;
    }
    .modal-container{
        width: 75%;
    }

}

@media screen and (max-width: 1024px){
    .modal-container{
        width: 90%;
    }

    .help-video{
        width: 59%;
    }

    .help-video video{
        width: 100%;
        left: 275px;
    }
    
}

@media screen and (max-width: 750px){
    
    .help-video{
        display: block;
        left: 10px;
        /* margin-top: 15px; */
        width: 94%;
    }
    .help-text{
        width: 94%;
        float: none;
    }
    
      .modal-container{
          height:87%;
      }
     
      
}