.dev-size{
    height: 86vh;
}

.container{
    position: relative;
    padding: 0 2%;
}

.direction-audio{
    color: #005a8a;
    border-radius: 50%;
    height: 28px;
    width: 30px;
    font-size: 18px;
    margin: 3px;
    cursor: pointer;
}

.direction-text{
    display: inline-block;
    margin: 0;
}
.directions{
    padding-top: 11px;
    padding-left: 17px;
}

.animation{
    width: 50.33%;
    height: 450px;
    display: inline-block;
    float: left;
}

@media screen and (max-width: 926px){
    .dev-size{
        height: 1000px;
    }
    .container{
        padding: 0 3%;
    }
}

@media screen and (max-width: 425px){
    
    .dev-size{
        height: 1020px;
    }

    .direction-audio{
        position: relative;
        top: -10px;
    }

    .direction-text{
        word-wrap: break-word;
        width: 90%;
    }
      
}